.iconClass{
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
  }
  
  .headingClass{
    font-size: 30px;
    color: #000000;
    /*text-shadow: 0 0 1px #813afe;*/
    align-content: center;
  }
  
  .btn-primary{
    color: #fff;
    background-color: #813afe !important;
    border-color: #813afe !important;
  }

  .btn-secondary{
    color: #000000 !important;
    background-color: #fff!important;
    border-color: #813afe !important;
  }
  
  .passwordResetClass{
    color: black;
  }
  
  .socialImageClass{
    width: 600px;
    height: 600px;
    margin-left: 3rem;
  }
  